$icon-th: '\e800';
$icon-heart: '\e801';
$icon-heart-empty: '\e802';
$icon-direction: '\e803';
$icon-attention-circled: '\e804';
$icon-th-list: '\e806';
$icon-dot-3: '\e80c';
$icon-cart: '\e80f';
$icon-th-large: '\e817';
$icon-list-bullet: '\f0ca';
$icon-chevron-down: '\f123';
$icon-chevron-left: '\f124';
$icon-chevron-right: '\f125';
$icon-chevron-up: '\f126';
$icon-close-bg: '\f12a';
$icon-rouble: '\f158';
$icon-cart-plus: '\f217';
$icon-add: '\f2c7';
$icon-close: '\f2d7';
$icon-remove: '\f2f4';
$icon-star: '\f2fc';
$icon-add-circle: '\f359';
$icon-menu: '\f394';
$icon-options: '\f39d'; 
$icon-remove-circle: '\f3a9';
$icon-star-half: '\f3ad';
$icon-star-outline: '\f3ae';
$icon-contact-outline: '\f419';
$icon-contact: '\f41a';
$icon-help-outline: '\f445';
$icon-help: '\f446';
$icon-search: '\e805';