@font-face {
    font-family: "MuseoSansCyrl-300";
    src: url("/static/fonts/MuseoSansRegular/MuseoSansRegular.eot");
    src: url("/static/fonts/MuseoSansRegular/MuseoSansRegular.eot?#iefix") format("embedded-opentype"),
         url("/static/fonts/MuseoSansRegular/MuseoSansRegular.woff2") format("woff2"),
         url("/static/fonts/MuseoSansRegular/MuseoSansRegular.woff") format("woff"),
         url("/static/fonts/MuseoSansRegular/MuseoSansRegular.ttf") format("ttf"),
         url("/static/fonts/MuseoSansRegular/MuseoSansRegular.svg#MuseoSansCyrl-300") format("svg");
    font-style: normal;
    font-weight: 300;
}