@import 'core/*';

//----> BREAKPOINTS
@import 'node_modules/sass-mq/mq';

$mq-breakpoints: (
    mobile:  320px,
    tablet:  750px,
    desktop: 970px,
    wide: 1170px,
);

.content-area {
    height: 100%;
    margin: 0 auto;
    width: 320px;
    @include mq($from: tablet, $until: desktop) {
        width: 750px;
    }
    @include mq($from: desktop, $until: wide) {
        width: 970px;
    }
    @include mq($from: wide) {
        width: 1170px;
    }
}

.page-content-wrapper {
    margin-bottom: -374px;
    min-height: 100%;
    &:after {
        content: '';
        display: block;
        height: 600px;
    }
}

.page-footer {
    height: 374px;
}
//----> BREAKPOINTS END

//----> TYPOGRAPHY
@import 'node_modules/modularscale-sass/stylesheets/modularscale';

$modularscale: (
    base: 1rem,
    ratio: $minor-third
);

@import '../../static/fonts/MuseoSansLight/MuseoSansLight';
@import '../../static/fonts/MuseoSansRegular/MuseoSansRegular';
@import '../../static/fonts/MuseoSansMedium/MuseoSansMedium';
@import '../../static/fonts/MuseoSansBold/MuseoSansBold';
@import '../../static/fonts/MuseoSansBlack/MuseoSansBlack';

@mixin light {
    font-family: "MuseoSansCyrl-100";
}

@mixin regular {
    font-family: "MuseoSansCyrl-300";
}

@mixin medium {
    font-family: "MuseoSansCyrl-500";
}

@mixin bold {
    font-family: "MuseoSansCyrl-700";
}

@mixin black {
    font-family: "MuseoSansCyrl-900";
}

body {
    @include medium();
}
//----> TYPOGRAPHY END


// ################## BLOCKS ##################

//----> HEADER
@import 'blocks/header-top/*';
@import 'blocks/header-bottom/*';
//----> HEADER END

//----> FOOTER
@import 'blocks/footer-middle/*';
@import 'blocks/footer-bottom/*';
//----> FOOTER END

// ################## END BLOCKS ##################

