@font-face {
    font-family: "MuseoSansCyrl-700";
    src: url("/static/fonts/MuseoSansBold/MuseoSansBold.eot");
    src: url("/static/fonts/MuseoSansBold/MuseoSansBold.eot?#iefix") format("embedded-opentype"),
         url("/static/fonts/MuseoSansBold/MuseoSansBold.woff2") format("woff2"),
         url("/static/fonts/MuseoSansBold/MuseoSansBold.woff") format("woff"),
         url("/static/fonts/MuseoSansBold/MuseoSansBold.ttf") format("ttf"),
         url("/static/fonts/MuseoSansBold/MuseoSansBold.svg#MuseoSansCyrl-700") format("svg");
    font-style: normal;
    font-weight: demi;
}