<div class="header" id="js-header">
    <div class="header-top">
        <div class="content-area content-area_flex">
            <a class="header-top__logo" href='/'>
                ТОРГ<span class="acid-green">ОСВЕТ</span>
            </a>
            <div class="header-top__nav">
                <div class="header-top__nav-item">
                    <a class="link link_filled" href="#">
                        О магазине
                    </a>
                </div>
                <div class="header-top__nav-item">
                    <a class="link link_filled" href="#">
                        Доставка и оплата
                    </a>
                </div>
                <div class="header-top__nav-item">
                    <a class="link link_filled" href="#">
                        Контакты
                    </a>
                </div>
            </div>
            <div class="header-top__phones">
                <div class="header-top__phone-caption">
                с 10:00 до 18:00
                </div>
                <div class="header-top__phone">
                    8 495 642 35 07
                </div>
                <!-- <div class="header-top__phone">
                    +7 916 053 17 50
                </div> -->
            </div>
            <div class="header-top__controls">
                <div class="header-top__cart button_round header-top__control ripple">
                    <span class="icon icon_cart"></span>
                </div>
                <div class="header-top__menu button_round header-top__control ripple"
                    @click="showSideMenu"
                >
                    <span class="icon icon_menu"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="header-bottom" id="header-bottom">
        <div class="content-area content-area_flex">
            <div class="header-bottom__dropdown">
                <span class="icon icon_menu"></span>
                КАТАЛОГ ТОВАРОВ
                <span class="icon icon_chevron-down"></span>
            </div>
            <div class="header-bottom__search-box">
                <input class="input header-bottom__search-input" placeholder="Поиск">
                <span class="icon icon_search header-bottom__search-icon"></span>
            </div>
            <div class="header-bottom__cart">
                <span class="header-bottom__cart-icon icon icon_cart"></span>
                <div class="header-bottom__cart-caption">
                    КОРЗИНА
                </div>
                <div class="header-bottom__cart-counter">
                    0
                </div>
            </div>
            <div class="header-bottom__menu">
            </div>
        </div>
    </div>
</div>