@font-face {
    font-family: "MuseoSansCyrl-900";
    src: url("/static/fonts/MuseoSansBlack/MuseoSansBlack.eot");
    src: url("/static/fonts/MuseoSansBlack/MuseoSansBlack.eot?#iefix") format("embedded-opentype"),
         url("/static/fonts/MuseoSansBlack/MuseoSansBlack.woff2") format("woff2"),
         url("/static/fonts/MuseoSansBlack/MuseoSansBlack.woff") format("woff"),
         url("/static/fonts/MuseoSansBlack/MuseoSansBlack.ttf") format("ttf"),
         url("/static/fonts/MuseoSansBlack/MuseoSansBlack.svg#MuseoSansCyrl-900") format("svg");
    font-style: normal;
    font-weight: 700;
}