.side-menu {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 100%;
    min-height:  100;
    visibility: hidden;
    overflow: hidden;
    z-index: 1000;
}

.sideMenu__hidden {
    transition: visibility 0ms ease-out 300ms;
}

.navMenu_visible {
    visibility: visible !important;
}

.side-menu__overlay {
    position: absolute;
    top: 0;
    right: 80%;
    left: 0;
    height: 100%;
}

.side-menu__content {
    height: 100%;
    width: 100%;
    margin-left: 100%;
    padding-right: 20%;
    background: $white;
    border-left: 1px solid #e5e5e5;
    transition: transform 300ms ease-out;
    will-change: transform;
}

.side-menu__auth-area {
    position: relative;
    height: 74px;
    width: 100%;
    padding: 22px;
}

.side-menu__close {
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: pointer;
}

.side-menu__delimeter {
    margin: 4px 0px 4px 0px;
    border-bottom: 1px solid rgba(0,0,0,.1);
}

.side-menu__item {
    height: 48px;
    width: 100%;
    text-transform: none !important;
    text-align: left !important;
    border-radius: 0px !important;
    color: $text-black !important;
    font-size: ms(0);
    line-height: 48px;
    @include medium();
}